/* styles.css */
.root {
    -fx-background-color: #34495e;
}

.button {
    -fx-min-width: 150px;
    -fx-min-height: 35px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-opacity: 0.8;
}

.text-area {
    -fx-background-radius: 5px;
}

.label {
    -fx-font-family: "Segoe UI", Arial, sans-serif;
}
